.container
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
        .container-fluid
            a.navbar-brand(href='#') DACOTA
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.me-auto.mb-2.mb-lg-0
                    li.nav-item
                        a.nav-link(href='/') Главная
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href='#' id='productNavDrop' role="button" data-bs-toggle="dropdown" aria-expanded="false") Товары
                        ul.dropdown-menu(aria-labelledby='productNavDrop')
                            li
                                a.dropdown-item(href='/products') Список
                                a.dropdown-item(href='/product') Добавить


